In [1]:
import readline
from rpy2.robjects import pandas2ri
from rpy2.robjects import r as R
import numpy as np
import pandas as pd

In [3]:
!ls ./data

house6311.RData  pres.elect.15.RData  StateLeg.RData

### Classic ICPSR6311

In [5]:
R['load']('./data/house6311.RData')

R object with classes: ('character',) mapped to:
<StrVector - Python:0x7f3a15280bc8 / R:0x5183938>
['house6311']

In [6]:
dfs = [pandas2ri.ri2py(df) for df in R['house6311']]

In [8]:
years = R('names(house6311)')

In [9]:
all_data = pd.concat(dfs, keys=years)

In [15]:
all_data.INC.replace(-2147483648, np.nan, inplace=True)

In [19]:
all_data.to_csv('./data/house6311.csv')

### State Leg data

In [20]:
R['load']('./data/StateLeg.RData')

R object with classes: ('character',) mapped to:
<StrVector - Python:0x7f3a14e9ecc8 / R:0x341d8a8>
['StateLeg', 'StateSummary']

In [21]:
dfs = [pandas2ri.ri2py(df) for df in R['StateLeg']]

In [40]:
state_data = {name:[pandas2ri.ri2py(df) for df in R['StateLeg'][i]] for i,name in enumerate(R('names(StateLeg)'))}

I'll do this later if I want it.

### Presidential Data

In [42]:
R['load']('./data/pres.elect.15.RData')

R object with classes: ('character',) mapped to:
<StrVector - Python:0x7f3a14c7cd08 / R:0x3704078>
['pres.data', 'same.districts', 'years']

In [55]:
upto_2004 = pd.concat([pandas2ri.ri2py(df) for df in R('pres.data')[:-2]])

/home/ljw/anaconda3/envs/py3/lib/python3.5/site-packages/pandas/types/missing.py:147: RuntimeWarning: invalid value encountered in isnan
  result = np.isnan(values)

In [61]:
upto_2004.rexp.replace(-2147483648, np.nan, inplace=True)

In [64]:
e2008 = pandas2ri.ri2py(R('pres.data')[-2])
e2012 = pandas2ri.ri2py(R('pres.data')[-1])

In [65]:
e2008.head()

     year  stgj State  CD  Obama  McCain  dpres
1  2008.0   1.0    AL   1     39      61   39.0
2  2008.0   1.0    AL   2     36      63   36.0
3  2008.0   1.0    AL   3     43      56   43.0
4  2008.0   1.0    AL   4     23      76   23.0
5  2008.0   1.0    AL   5     38      61   38.0

In [66]:
e2012.head()

,CD,Incumbent,Party,Obama.2012,Romney.2012,Obama.2008,McCain.2008,state,dpres,stgj
1,1.0,"Young, Don",(R),41.2,55.3,38.1,59.7,AK,42.694301,2
2,1.0,"Bonner, Jo",(R),37.4,61.8,38.5,60.9,AL,37.701613,1
3,2.0,"Roby, Martha",(R),35.0,64.5,35.0,64.5,AL,35.175879,1
4,3.0,"Rogers, Mike D.",(R),36.6,62.6,36.6,62.6,AL,36.895161,1
5,4.0,"Aderholt, Rob",(R),24.0,74.8,25.5,73.3,AL,24.291498,1

In [67]:
upto_2004.head()

/home/ljw/anaconda3/envs/py3/lib/python3.5/site-packages/pandas/types/missing.py:147: RuntimeWarning: invalid value encountered in isnan
  result = np.isnan(values)

,year,stcd,inc,pwin,dv,dvp,fr,po1,po2,redist,dexp,rexp,dpres,stgj,cd
126,1956,101,1,1,NaN,NaN,0,5,2,0,,NaN,51.340000,1.0,1.0
45,1956,102,1,1,NaN,NaN,0,5,2,0,,NaN,57.470001,1.0,2.0
82,1956,103,1,1,NaN,NaN,0,5,2,0,,NaN,69.180000,1.0,3.0
117,1956,104,1,1,73.400002,NaN,0,0,0,0,,NaN,58.750000,1.0,4.0
113,1956,105,1,1,NaN,NaN,0,5,2,0,,NaN,64.809998,1.0,5.0

In [68]:
upto_2004.to_csv('pres_upto_2004.csv')

/home/ljw/anaconda3/envs/py3/lib/python3.5/site-packages/pandas/types/missing.py:147: RuntimeWarning: invalid value encountered in isnan
  result = np.isnan(values)

In [69]:
e2008.to_csv('pres_2008.csv')

In [70]:
e2012.to_csv('pres_2012.csv')